{% extends "layout.html" %}

{% block title %}
Add User
{% endblock %}

{% block content %}
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="bg-green-500 text-white py-4 px-4 text-center">
                <strong>{{ category }}</strong>: {{ message }}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}

<div class="flex justify-between mb-4">
    <h1 class="text-2xl font-bold">Add User</h1>
</div>
<form action="/add_user" method="post" class="w-full max-w-md mx-auto">

    <div class="mb-4">
        <label for="username" class="block text-gray-700 font-bold mb-2">Username:</label>
        <input type="text" id="username" name="username" class="block w-full px-4 py-2 border rounded-lg focus:outline-none focus:border-blue-500" required>
    </div>

    <div class="mb-4">
      <label for="passwd" class="block text-gray-700 font-bold mb-2">Password:</label>
      <input type="password" id="passwd" name="passwd" class="block w-full px-4 py-2 border rounded-lg focus:outline-none focus:border-blue-500">
    </div>

    <div class="mb-4">
        <label for="fullname" class="block text-gray-700 font-bold mb-2">Full Name:</label>
        <input type="text" id="fullname" name="fullname" class="block w-full px-4 py-2 border rounded-lg focus:outline-none focus:border-blue-500" required>
    </div>

    <div class="mb-4">
        <label for="homedir" class="block text-gray-700 font-bold mb-2">Home Directory:</label>
        <input type="text" id="homedir" name="homedir" class="block w-full px-4 py-2 border rounded-lg focus:outline-none focus:border-blue-500" value="/home/">
    </div>

    <div class="mb-4">
        <label for="shell" class="block text-gray-700 font-bold mb-2">Shell:</label>
        <input type="text" id="shell" name="shell" class="block w-full px-4 py-2 border rounded-lg focus:outline-none focus:border-blue-500" value="/bin/bash">
    </div>

    <button type="submit" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Add User</button>
</form>
{% endblock %}

